<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769896931418-s4v45g6qsuol1ort46hg8o9meav84bnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769896931418-s4v45g6qsuol1ort46hg8o9meav84bnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBjwhWsT_k0mVwBAXCCtEc_4iZGR28X3sU</string>
	<key>GCM_SENDER_ID</key>
	<string>769896931418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cozie.Cozie</string>
	<key>PROJECT_ID</key>
	<string>cozie-apple</string>
	<key>STORAGE_BUCKET</key>
	<string>cozie-apple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769896931418:ios:0eb5abc3c802f63f07b863</string>
	<key>DATABASE_URL</key>
	<string>https://cozie-apple.firebaseio.com</string>
</dict>
</plist>