<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.cozy.dataprocesssing</string>
		<string>app.cozy.datarefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Cozie accesses the health records to add your data to the watch survey responses.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Cozie accesses the health records to add your data to the watch survey responses.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Cozie accesses the health records to add your data to the watch survey responses.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cozie uses the location data to add your location to the watch survey responses.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cozie uses the location data to add your location to the watch survey responses.</string>
	<key>NSLocationUsageDescription</key>
	<string>Cozie uses the location data to add your location to the watch survey responses.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cozie uses the location data to add your location to the watch survey responses.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cozie uses the mircrophone to derive a noise metric. Cozie only logs the noise metric.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
