<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>cozie_notification_action_category_1</string>
		<key>buttons</key>
		<array>
			<string>Helpful</string>
			<string>Not helpful</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cozie_notification_action_category_2</string>
		<key>buttons</key>
		<array>
			<string>I will do it</string>
			<string>I&apos;ll do my best</string>
			<string>Not relevant</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cozie_notification_action_category_3</string>
		<key>buttons</key>
		<array>
			<string>I may do it</string>
			<string>No thanks</string>
			<string>Not relevant</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cozie_notification_action_category_4</string>
		<key>buttons</key>
		<array>
			<string>Helpful</string>
			<string>Not helpful now</string>
			<string>Not relevant</string>
		</array>
	</dict>
</array>
</plist>
